name: Build

on:
  push:
    paths:
      - .github/workflows/main.yml
      - lc-hax/**

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Build
      run: dotnet build lc-hax
