name: Update Resource(s)

on:
  pull_request:
  push:
    paths:
      - .github/workflows/update-resource.yml
      - lc-hax/*.csproj

concurrency: Format-Resource-${{ github.ref }}
permissions:
  contents: write

jobs:
  update-resource:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          show-progress: false
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PAT }}

      - name: Cache .NET tools
        uses: actions/cache@v5.0.0
        with:
          path: ~/.nuget/packages
          key: dotnet-tools-${{ runner.os }}-${{ hashFiles('.config/dotnet-tools.json') }}
          restore-keys: dotnet-tools-${{ runner.os }}-

      - name: Setup .NET
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: 9.x

      - name: Restore tools
        run: dotnet tool restore

      - name: Update Resource
        run: dotnet script scripts/UpdateEmbeddedResource.csx
        env:
          CSPROJ_PATH: lc-hax/lc-hax.csproj

      - name: Set Git config
        run: |
          git config user.email github-actions[bot]@users.noreply.github.com
          git config user.name github-actions[bot]

      - name: Commit changes
        run: |
          git commit -am "build: update resource path(s)" || true
          git pull --autostash --rebase origin ${{ github.head_ref || github.ref_name }}
          git push
