name: Update Resource(s)

on:
  push:
    branches: main
    paths:
      - .github/workflows/update-resource.yml
      - lc-hax/*.csproj
  pull_request_target:
    paths:
      - .github/workflows/update-resource.yml
      - lc-hax/*.csproj

permissions:
  contents: write

jobs:
  update-resource:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
        with:
          show-progress: false
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PAT }}

      - name: Cache .NET tools
        uses: actions/cache@v4.2.3
        with:
          path: ~/.nuget/packages
          key: dotnet-tools-${{ runner.os }}-${{ hashFiles('.config/dotnet-tools.json') }}
          restore-keys: dotnet-tools-${{ runner.os }}-

      - name: Setup .NET
        uses: actions/setup-dotnet@v4.3.0
        with:
          dotnet-version: 8.0.x

      - name: Restore tools
        run: dotnet tool restore

      - name: Update Resource
        run: dotnet script scripts/UpdateEmbeddedResource.csx
        env:
          CSPROJ_PATH: lc-hax/lc-hax.csproj

      - name: Set Git config
        run: |
          git config user.email github-actions[bot]@users.noreply.github.com
          git config user.name github-actions[bot]

      - name: Commit changes
        run: |
          git add .
          git commit -m "build: update resource path(s)" || true
          git push